* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}
.tit_normal {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: -0.04em;
}
.linea_simple {
  height: 2px;
  background-color: black;
  width: 100%;
  margin-top: 20px;
}

.linea_doble {
  height: 4px;
  background-color: black;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 20px;
}
.col.edu {
  margin-top: 2em;
}
.menu {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}
.footer{
  width: 100%;
}
header{
  width: 100%;
  margin: 0;
}
.align-right-center {
  display: flex;
  justify-content: end; 
  align-items: center;
  height: 100%; 
}
.right-image {
  width: auto; 
  max-width: 100%; 
  height: auto; 
}